@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* LIGHT Theme */
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 350 100% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 336 80% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 350 50% 96%;
    --muted-foreground: 224 10% 40%;
    --accent: 350 60% 94%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 336 80% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 100%;
    --card: 336 20% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 100%;
    --primary: 336 80% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 336 20% 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 336 30% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 336 80% 50%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
